.skillContainer {
  display: flex;
  box-shadow: 0 8px 15px -4px gray;
  width: 15rem;
  height: 7rem;
  border-radius: 10px;
}
.skillContainer:hover {
  width: 15.5rem;
  height: 7.5rem;
}
.skillContainer img {
  padding-top: 0.5rem;
  padding-left: 1rem;
  width: 40%;
  object-fit: contain;
  height: 85%;
}
.skillContainer h3 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}
