.homePage {
  margin-top: 6rem;
  padding: 0% 30%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  font-family: var(--font-family);
  background-color: var(--background-color);
}
