.navbarContainer {
  margin-top: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(249, 249, 249, 0.9);
  position: fixed;
  top: 0;
  box-shadow: 0 8px 15px -4px gray;
}
.navbarLogo {
  min-width: 30%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 1rem;
}
.navbarLogo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.navbarLogo h1 {
  padding-left: 2rem;
  font-family: var(--font-logo);
}
.navbarLinks {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.navbarDesktopLinks {
  display: flex;
}
.navbarParagraph {
  margin-right: 2.5rem;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.2rem;
  cursor: pointer;
}
.navbarLink {
  text-decoration: none;
  color: var(--text-color-primary);
}
.navbarLink:hover {
  color: #7b7b7b;
  font-size: 1.3rem;
}
.navbarMobileLinks {
  display: none;
}
.menuIcon {
  margin-right: 1rem;
}
.mobileMenuContainer {
  position: absolute;
  top: 6rem;
  right: 0;
  background-color: rgba(27, 26, 23, 0.9);
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
}
.mobileMenuContainer p {
  text-align: left;
  padding-left: 4rem;
  line-height: 3rem;
  font-size: 1.5rem;
}
.mobileMenuContainer p a {
  color: var(--text-color-secondary);
}

.openMenu {
  animation-name: openMenu;
  animation-duration: 1.5s;
}

@keyframes openMenu {
  from {
    display: none;
  }
  to {
    display: block;
  }

  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 950px) {
  .navbarDesktopLinks {
    display: none;
  }
  .navbarMobileLinks {
    display: block;
  }
  .navbarParagraph {
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .navbarLogo h1 {
    width: 50%;
  }
}
