.footer{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    background-color: black;
    color: white;
}
.footerIcons a{
    color: white;
    text-decoration: none;
}
.footerIcons a:hover{
    color: var(--blue-color);
    text-decoration: none;
}
.icon{
    font-size: 2rem;
    margin-right: 1rem;
}
@media screen and (max-width:750px) {
    .footer{
        height: 3rem;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    .footer h1{
        font-size: 1.2rem;
    }
    .icon{
        font-size: 1.5rem;
    }
    .footer p{
        font-size: 0.75rem;
    }

}